<div class="container-fluid">
     <div class="row">
      <div class="side">
                
          <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="card">
    <img src="https://i.pravatar.cc/300" alt="John" style="width:100%">
    <h1>John Doe</h1>
    <p class="title">Valparaiso</p>
    <p>Hola! Quisiera cambiar estos artículos que ya no uso por ropa nueva, soy talla '..', no dudes en escribirme con tus propuestas </p>
    
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <div style="display: none;">
      <dialog-overview-mensaje #micom></dialog-overview-mensaje>
    </div>
    <p><button >Editar descripción </button></p>
  </div>
     </div>

      <div class="main">
        <div class="row">
          <div class="col-5">
            <div class="field" id="searchform">
              <input type="text" id="searchterm" placeholder="¿Qué estas buscando?" />
              <button type="button" id="search">Buscar!</button>
            </div>
            
            <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
          </div>
        </div>
        
        <div class="row">
        <div class="col-3">
          <div class="producto1">
            <div class="card">
                <img src="https://thumbs.dreamstime.com/b/jeans-27600498.jpg" alt="Denim Jeans" style="width:50%">
                <h2> Jeans</h2>
                <p class="price">Cambio</p>
                <p>Texto sobre los jeans..</p>
                <p><button (click)="micompo.openDialog()">Editar</button></p>
              </div>
            </div>
        </div>
        <div class="col-3">
          <div class="producto1">
            <div class="card">
                <img src="https://thumbs.dreamstime.com/b/jeans-27600498.jpg" alt="Denim Jeans" style="width:50%">
                <h2> Jeans</h2>
                <p class="price">Cambio</p>
                <p>Texto sobre los jeans..</p>
                <p><button (click)="micompo.openDialog()">Editar</button></p>
              </div>
            </div>
         
        </div>
        <div class="col-3">
          <div class="producto1">
            <div class="card">
                <img src="https://thumbs.dreamstime.com/b/jeans-27600498.jpg" alt="Denim Jeans" style="width:50%">
                <h2> Jeans</h2>
                <p class="price">Cambio</p>
                <p>Texto sobre los jeans..</p>
                <p><button (click)="micompo.openDialog()">Editar</button></p>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="producto2">
            <div class="card">
                <img src="https://media.istockphoto.com/photos/navy-blue-retro-dress-with-short-sleeves-isolated-on-white-picture-id934408078?k=6&m=934408078&s=612x612&w=0&h=lF_hqhJW4rOg3avowH-N1ecYMtWNy820kZx0zSY3pLE=" alt="Vestido" style="width:50%">
                <h2>Vestidoo </h2>
                <p class="price">Cambio</p>
                <p>Texto sobre el vestido..</p>
                <div style="display: none;">
                <dialog-overview-example #micompo></dialog-overview-example></div>
              
                <p><button (click)="micompo.openDialog()">Editar</button></p>
              </div>
            </div>
        </div>
        <div class="col-3">
          <div class="producto2">
            <div class="card">
                <img src="https://media.istockphoto.com/photos/navy-blue-retro-dress-with-short-sleeves-isolated-on-white-picture-id934408078?k=6&m=934408078&s=612x612&w=0&h=lF_hqhJW4rOg3avowH-N1ecYMtWNy820kZx0zSY3pLE=" alt="Vestido" style="width:50%">
                <h2>Vestido </h2>
                <p class="price">Cambio</p>
                <p>Texto sobre el vestido..</p>
                <p><button (click)="micompo.openDialog()">Editar</button></p>
              </div>
            </div>
        </div>
        <div class="col-3">
          <div class="producto2">
            <div class="card">
                <img src="https://media.istockphoto.com/photos/navy-blue-retro-dress-with-short-sleeves-isolated-on-white-picture-id934408078?k=6&m=934408078&s=612x612&w=0&h=lF_hqhJW4rOg3avowH-N1ecYMtWNy820kZx0zSY3pLE=" alt="Vestido" style="width:50%">
                <h2>Vestido </h2>
                <p class="price">Cambio</p>
                <p>Texto sobre el vestido..</p>
                <p><button (click)="micompo.openDialog()"> Editar</button></p>
              </div>
            </div>
        </div>
      </div>
       
      </div>
   
</div>
</div>