<div class="container-fluid">


    <h1 style="color: whitesmoke;">Esta es la seccion de productos</h1>
    <h3 style="color: whitesmoke;">Donde podras ver a gente que busca intercambiar sus productos o bienes por otras cosas</h3>
    
    <h4 style="color: darkgray;">Selecciona tu region</h4>
    <div style="color: white;">
    <mat-form-field appearance="fill">
      <mat-label>Región</mat-label>
      <select matNativeControl required>
        <option class="text-dark"  value="Tarapacá">Tarapacá</option>
        <option class="text-dark" value="Antofagasta">Antofagasta</option>
        <option class="text-dark" value="Atacama">Atacama </option>
        <option class="text-dark" value="Coquimbo">Coquimbo</option>
        <option class="text-dark" value=" Valparaíso"> Valparaíso</option>
        <option class="text-dark"  value="O'Higgins">O'Higginss</option>
        <option class="text-dark" value="Maule">Maule</option>
        <option class="text-dark" value="audi">Bío-Bío</option>
        <option class="text-dark" value="La Araucanía">La Araucanía</option>
        <option class="text-dark" value="Los Lagos">Los Lagos</option>
        <option class="text-dark" value="Aysén">Aysén</option>
        <option class="text-dark" value="Magallanes">Magallanes</option>
        <option class="text-dark"  value="Santiago">Santiago</option>
        <option class="text-dark" value="Los Ríos">Los Ríos</option>
        <option class="text-dark" value="Arica">Arica</option>
        <option class="text-dark" value="Ñuble">Ñuble</option>
      </select>
    </mat-form-field>
    <div class="field" id="searchform">
      <input type="text" id="searchterm" placeholder="¿Qué buscas?" />
      <button type="button" id="search">Buscar</button>
    </div>
    
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
      <div class="card border-secondary mb-3" style="max-width: 18rem;"></div>
    <div class="card" style="width: 18rem; ">
      <img src="https://k61.kn3.net/taringa/2/A/9/1/2/6/AlenKpo/4F9.jpg">
      <div class="card-body">
        <h5 class="card-title">Descripción</h5>
        <p class="card-text">PC de gama baja poco tiempo de uso i3 6006u, 8gb de ram, 1 tb de disco duro y tarjeta grafica nvidia mx940 .</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ID del producto: 1</li>
        <li class="list-group-item">Producto: Pc gama baja</li>
        <li class="list-group-item">Comerciante: Matias Berrios</li>
        <li class="list-group-item">Región: Valparaíso</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Ir al perfil del comerciante</a>
      </div>
    </div>
  </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem; ">
        <img src="https://fotos.perfil.com/2018/07/01/trim/960/540/bici-sin-cadena.jpg?format=webp">
        <div class="card-body">
          <h5 class="card-title">Descripción</h5>
          <p class="card-text">Bicicleta sin cadena 6 meses de uso en perfecto estado.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ID del producto: 2</li>
          <li class="list-group-item">Producto: Bicicleta</li>
          <li class="list-group-item">Comerciante: Nisser Argueta</li>
          <li class="list-group-item">Región: Santiago</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Ir al perfil del comerciante</a>
        </div>
      </div>
    </div>
      <div class="col-3">
        <div class="card" style="width: 18rem; ">
          <img src="https://fotos.perfil.com/2018/07/01/trim/960/540/bici-sin-cadena.jpg?format=webp">
          <div class="card-body">
            <h5 class="card-title">Descripción</h5>
            <p class="card-text">Tetera familiar 45 años de uso, la permuto por una coca cola de 2 lts.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ID del producto: 3</li>
            <li class="list-group-item">Producto: Tetera</li>
            <li class="list-group-item">Comerciante: William Rodriguez</li>
            <li class="list-group-item">Región: Los Lagos</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Ir al perfil del comerciante</a>
          </div>
        </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem; ">
            <img src="https://fotos.perfil.com/2018/07/01/trim/960/540/bici-sin-cadena.jpg?format=webp">
            <div class="card-body">
              <h5 class="card-title">Descripción</h5>
              <p class="card-text">Bicicleta sin cadena 6 meses de uso en perfecto estado.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ID del producto: 2</li>
              <li class="list-group-item">Producto: Bicicleta</li>
              <li class="list-group-item">Comerciante: Nisser Argueta</li>
              <li class="list-group-item">Región: Santiago</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Ir al perfil del comerciante</a>
            </div>
          </div>
    
    </div>
    </div>
    